<%- include('partials/header') %>
        <!-- MAIN -->
        <main class="contact-support">
            <div class="container">
                <section class="text-block mb-70">
                    <h4 class="text-center">Send us a support request</h4>
                    <p class="text-center">Please describe more about your project here. Feel free to message us if you want more things done for the app outside what we offer.</p>
                </section>
                <section class="form-section mb-70">
                    <form action="/contact" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Your email*</label>
                                <input type="email" name="email" id="" class="form-control" placeholder="Add here" required>
                            </div>
                            <div class="col-md-12">
                                <label>Your name*</label>
                                <input type="text" name="name" id="" class="form-control" placeholder="Add here" required>
                            </div>
                            
                            <div class="col-md-12">
                                <label>Description*</label>
                                <textarea name="description" id="" class="form-control" required>Add here</textarea>
                            </div>
                            
                            <div class="col-md-12">
                                <p class="text-center mb-40">You will hear from us within 1-2 business days.</p>
                                <button class="btn btn-center btn-large mb-70" type="submit">Send request</button>
                            </div>
                        </div>
                    </form>
                </section>
                
            </div>
        </main>

        <%- include('partials/footer') %>