<%- include('partials/header')%>



<!-- MAIN -->
<main class="downloads">
    <div class="container">
        <section class="text-block border-decor bd-130 bd-center mb-70">
            <h4 class="text-center">Downloads</h4>
        </section>
        <ul class="list-inline list-menu navigation-isotope mb-30">
            <li class="button" data-filter="*"><a href="#">All themes</a></li>
            <li class="button" data-filter=".blog"><a href="#">Blog</a></li>
            <li class="button" data-filter=".photography"><a href="#">Photography</a></li>
            <li class="button" data-filter=".business"><a href="#">Business</a></li>
            <li class="button" data-filter=".portfolio"><a href="#">Portfolio</a></li>
            <li class="button" data-filter=".magazine"><a href="#">Magazine</a></li>
            <li class="button" data-filter=".others"><a href="#">Others</a></li>
        </ul>
        <div class="border-block"></div>
        <section class="product-list row isotope mb-70">
            <div class="block portfolio business">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <a href="#"><img src="images/downloads/Bloggr.png" alt=""></a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="features-info">
                            <h6 class="border-decor">Bloggr</h6>
                            <table class="table">
                                <tr>
                                    <td>Support</td>
                                    <td>12 Months</td>
                                </tr>
                                <tr>
                                    <td>License</td>
                                    <td>Regular</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-5 col-xs-6 col-md-offset-1 text-center">
                        <a href="#" class="btn btn-small btn-gray btn-service">Order Custom Service</a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4 col-md-offset-0 col-sm-offset-1 col-xs-offset-2 pull-right text-center">
                        <a href="#" class="btn btn-small btn-gray btn-download">Download</a>
                        <span class="stars">
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
        

        </section>
        <a href="#" class="btn btn-small btn-gray mb-70 btn-next">Next</a>

    </div>
</main>


<%- include('partials/footer')%>