<!-- jQuery  -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/jquery.slimscroll.js"></script>
<script src="/assets/js/waves.min.js"></script>

<!--Chartist Chart-->
<script src="/assets/plugins/chartist/js/chartist.min.js"></script>
<script src="/assets/plugins/chartist/js/chartist-plugin-tooltip.min.js"></script>

<!-- peity JS -->
<script src="/assets/plugins/peity-chart/jquery.peity.min.js"></script>

<script src="/assets/pages/dashboard.js"></script>
<!--tinymce js-->
<script src="/assets/plugins/tinymce/tinymce.min.js"></script>

<!--Summernote js-->
<script src="/assets/plugins/summernote/summernote-bs4.min.js"></script>

<script src="/assets/pages/form-editors.int.js"></script>
<!-- Dropzone js -->
<script src="/assets/plugins/dropzone/dist/dropzone.js"></script>

<!-- form wizard -->
<script src="/assets/plugins/jquery-steps/jquery.steps.min.js"></script>

 <!-- Plugins Init js -->
 <script src="/assets/pages/form-advanced.js"></script>


        <!-- Plugins js -->
        <script src="/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
        <script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="/assets/plugins/select2/js/select2.min.js"></script>
        <script src="/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
        <script src="/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
        <script src="/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>



        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.js"></script>

<!-- App js -->
<script src="/assets/js/app.js"></script>


<script>
    $(function ()
    {
        $("#form-horizontal").steps({
            headerTag: "h3",
            bodyTag: "fieldset",
            transitionEffect: "slide"
        });
    });
</script>
</body>

</html>
